<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AccessOrdersRepository" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\OrderStatus\AccessOrdersRepository.mdb" />
    <add name="orderstatusEntities" connectionString="metadata=res://*/StoreContext.csdl|res://*/StoreContext.ssdl|res://*/StoreContext.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=admin;Persist Security Info=True;database=orderstatus&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <nlog autoReload="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogToConsole="true" internalLogLevel="Trace">
    <targets>
      <target async="true" name="debug" xsi:type="File" layout="${log4jxmlevent}" fileName="${basedir}/../Logs/Web/debug.log.xml" archiveFileName="${basedir}/../Logs/Web/archived/debug-{#}.log.xml" archiveEvery="Day" archiveNumbering="Rolling" concurrentWrites="true" maxArchiveFiles="15" createDirs="true" keepFileOpen="false" encoding="utf8" />
      <target async="true" name="error" xsi:type="File" layout="${log4jxmlevent}" fileName="${basedir}/../Logs/Web/error.log.xml" archiveFileName="${basedir}/../Logs/Web/archived/error-{#}.log.xml" archiveEvery="Day" archiveNumbering="Rolling" concurrentWrites="true" maxArchiveFiles="15" createDirs="true" keepFileOpen="false" encoding="utf8" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" maxlevel="Error" writeTo="debug" />
      <logger name="*" minlevel="Error" writeTo="error" />
    </rules>
  </nlog>
</configuration>