<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OrderStatusCore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="AccessOrdersRepository" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\OrderStatus\AccessOrdersRepository.mdb" />
    <add name="orderstatusEntities" connectionString="metadata=res://*/StoreContext.csdl|res://*/StoreContext.ssdl|res://*/StoreContext.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=MainEvent;persistsecurityinfo=True;database=orderstatus&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="logPathFile" value="C:\OrderStatus\Log.txt" />
  </appSettings>

  <nlog autoReload="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogToConsole="true" internalLogLevel="Trace">
    <targets>
      <target async="true" name="debug" xsi:type="File" layout="${log4jxmlevent}" fileName="${basedir}/Logs/Web/debug.log.xml" archiveFileName="${basedir}/../Logs/Web/archived/debug-{#}.log.xml" archiveEvery="Day" archiveNumbering="Rolling" concurrentWrites="true" maxArchiveFiles="15" createDirs="true" keepFileOpen="false" encoding="utf8" />
      <target async="true" name="error" xsi:type="File" layout="${log4jxmlevent}" fileName="${basedir}/Logs/Web/error.log.xml" archiveFileName="${basedir}/../Logs/Web/archived/error-{#}.log.xml" archiveEvery="Day" archiveNumbering="Rolling" concurrentWrites="true" maxArchiveFiles="15" createDirs="true" keepFileOpen="false" encoding="utf8" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" maxlevel="Error" writeTo="debug" />
      <logger name="*" minlevel="Error" writeTo="error" />
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <applicationSettings>
    <OrderStatusCore.Properties.Settings>
      <setting name="OrderStatusCore_API_cartAPI" serializeAs="String">
        <value>http://api.3dcart.com/cart.asmx</value>
      </setting>
    </OrderStatusCore.Properties.Settings>
  </applicationSettings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.9.0" newVersion="6.9.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.6.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>