<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OrderStatusCore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="orderstatusEntities" connectionString="metadata=res://*/StoreContext.csdl|res://*/StoreContext.ssdl|res://*/StoreContext.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=admin;Persist Security Info=True;database=orderstatus&quot;" providerName="System.Data.EntityClient" />
    <add name="AccessUps" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=E:\LifeIsABoxOfChocolats\OrderStatus\OrderStatusData\AccessFiles\ups.mdb"/>
    <add name="AccessUsps" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=E:\LifeIsABoxOfChocolats\OrderStatus\OrderStatusData\AccessFiles\galaxy.mda"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
    <OrderStatusCore.Properties.Settings>
      <setting name="OrderStatusCore_API_cartAPI" serializeAs="String">
        <value>http://api.3dcart.com/cart.asmx</value>
      </setting>
    </OrderStatusCore.Properties.Settings>
  </applicationSettings>
</configuration>
