<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AccessOrdersRepository" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\OrderStatus\AccessOrdersRepository.mdb" />
    <add name="orderstatusEntities" connectionString="metadata=res://*/StoreContext.csdl|res://*/StoreContext.ssdl|res://*/StoreContext.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=admin;Persist Security Info=True;database=orderstatus&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>